  <nav class="nav-bar">
    <div class="nav-buttons">
      <a class = "button home" href="/">Home</a>
      <a class="button login">Login</a>
      <a class="button reg">Register</a>
      <a class="button prod" href="/products">Products</a>
    </div>
  </nav>